[submodule "commXel_app/src/xelsdk"]
	path = commXel_app/src/xelsdk
	url = https://github.com/ROBOTIS-GIT/XelNetwork_FwSDK.git
[submodule "commXel_boot/src/xelsdk"]
	path = commXel_boot/src/xelsdk
	url = https://github.com/ROBOTIS-GIT/XelNetwork_FwSDK.git
[submodule "commXel_app/src/lib/ros2xrcedds"]
	path = commXel_app/src/lib/ros2xrcedds
	url = https://github.com/ROBOTIS-GIT/ros2xrcedds.git
